body {
	  background-color: #778899;
	}

h1 {
		color: #fff8dc;
		background-color: #ff8c00; margin-top: 0px;
		height:60px;

	}

h1 {font-family: arial, verdana, sans-serif;}
h2 {font-family: "Times New Roman", serif;}